.select {
  float: left;
  position: absolute;
  width: 200px;
  height: 20px;
  margin-left: 0px;
  margin-top: 0px;
  text-align: left;
  opacity: 1;
}

.des_option_var_code{
  float: left;
  position: relative;
  width: 540px;
  height: 550px;
  margin-left: 390px;
  margin-top: 1320px;
  opacity: 1.0;
  border-bottom-color: #fff;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.datagroup-div {
  float: left;
  position: absolute;
  width: 1150px;
  height: 650px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 1550px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid
}

.data1-div {
  float: left;
  position: absolute;
  width: 1150px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 1550px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.text01-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 1750px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.map-div {
  float: left;
  position: absolute;
  width: 1180px;
  height: 650px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 2200px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.text02-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 200px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 2400px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.data0-div {
  float: left;
  position: absolute;
  width: 1150px;
  height: 500px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 2850px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.text03-div {
  float: left;
  position: absolute;
  width: 260px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 3000px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}


p.credits2 {
  font-family: Georgia, DM Sans, Arial, sans-serif;
  font-size: 13pt;
  line-height: 18pt;
  letter-spacing: -0.2px;
  /* font-style: italic; */
  opacity: 1;
  margin-left: 0px;
  margin-top: 10px;
  color: #000;
  position: relative;
}

.graticule {
  fill: none;
  stroke: none;
  stroke-width: .1px;
  stroke-opacity: 1;
}

.land {
  fill: orange;
  stroke: none;
  opacity: 1;
  stroke-width: 2px;
}

path {
  stroke: white;
  stroke-width: 0.75px;
  fill: none;
  opacity: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  opacity: 1;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 11px;
}

.yaxis path,
.yaxis line {
  fill: none;
  stroke: none;
  opacity: 0;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.yaxis text {
  fill: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 11px;
  opacity: 1;
}

.area {
  fill: #999;
  stroke: none;
  opacity: 1;
}