.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  /* -webkit-filter: brightness(0.5);
  filter: brightness(0.5); */
}

body{
  margin-top: 0px;
  margin-left: 0px;
  background-color: #16212B;
  /* background-color: white; */

}

p.title {
    font-family: NeueHaasUnicaPro-Regular, Arial, sans-serif;
    font-size: 46px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 20pt;
    top: 0;
    position: relative;
    text-align: left;
    color: #333;
    margin-right: 0px;
    margin-top: 0px; 
}

p.titletag {
    font-family: NeueHaasUnicaPro-Regular, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22pt;
    top: 0;
    margin-left: 0px;
    position: relative;
    text-align: left;
    color: #333;
    margin-right: 0px;
    margin-top: 0px; 
}

p.plaintext {
/*    font-family: Garamond, sans-serif;*/
    font-family: Arial, Verdana;
    font-size: 10pt;
    line-height: 12pt;
    color: #333;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 105px;
/*    position: relative;*/
}

p.cat {
  font-family: Verdana, sans-serif;
  font-size: 8pt;
  top: 0;
  color: ghostwhite;
  position: relative;
}

.value {
  color:white;
/*    font-weight: bold;*/
}

p.catDEPTH {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  top: 0;
  color: white;
  position: relative;
  font-weight: bold;
}

p {  margin-top: 0.3em; margin-bottom: 0em; }

.subscript {
  line-height:0px;
}

div.headercover-div {
  float: left;
  position: absolute;
  width: 150px;
  height:760px;
  margin-right: 0px;
  margin-left: 80px;
  margin-top: 0px;
  background-color: none;
  opacity: 1.0;
  z-index: 0;
  }

div.lefthill-div {
  float: left;
  position: absolute;
  width: 200px;
  height: 600px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  background-color: none;
  opacity: 1.0;
  z-index: 1;
  }

a:link {
color: white;
text-decoration: none;
}

a:visited {
color: white;
text-decoration: none;
}

a:hover {
color: #ddd;
text-decoration: none;
}

a:active {
color: white;
text-decoration: none;
}

path {
  stroke: white;
  stroke-width: 0px;
  fill:white;
  opacity:1;
}


div.tinymap {
    position: absolute; 
    text-align: center; 
    width: 70px;  
    height: 70px;   
    padding: 6px; 
    margin-left: 0px;
    margin-top: 0px;
    font: 12px sans-serif;  
    background: #666; 
    border: 0px;          
    border-radius: 10px;
}

div.tooltip2 {
  position: absolute; 
  text-align: left; 
  width: 100%;  
  height: 20px;   
  padding: 2px; 
  background: none; 
    margin-left: 0px;
}

div.tooltipcont {
  position: absolute; 
  text-align: left; 
  width: 800px;  
  height: 50px;   
  padding: 2px; 
  background: none; 
    margin-left: 0px;
    margin-top: 10px;
}