p.credits2 {
  font-family: Georgia, DM Sans, Arial, sans-serif;
  font-size: 12pt;
  line-height: 16pt;
  letter-spacing: -0.2px;
  /* font-style: italic; */
  opacity: 1;
  margin-left: 0px;
  margin-top: 10px;
  color: #000;
  position: relative;
}

.graticule {
  fill: none;
  stroke: none;
  stroke-width: .1px;
  stroke-opacity: 1;
}

.land {
  fill: orange;
  stroke: none;
  opacity: 1;
  stroke-width: 2px;
}

path {
  stroke: white;
  stroke-width: 0.75px;
  fill: none;
  opacity: 1;
}

.xaxis path,
.xaxis line {
  fill: none;
  stroke: #bbb;
  opacity: 1;
  stroke-width: .5px;
  shape-rendering: crispEdges;
}

.xaxis text {
  fill: #999;
  font-family: Menlo, Georgia, 'Times New Roman', Times, serif;
  font-size: 11px;
}

.yaxis path,
.yaxis line {
  fill: none;
  stroke: #bbb;
  opacity: 1;
  stroke-width: .5px;
  shape-rendering: crispEdges;
}

.yaxis text {
  fill: #999;
  font-family: Menlo, Georgia, 'Times New Roman', Times, serif;
  font-size: 11px;
  opacity: 1;
}

.area {
  fill: #999;
  stroke: none;
  opacity: 1;
}

.rsquared-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 950px;
  margin-top: 380px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.text01s-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 900px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}


.text02s-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 1500px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}


.text03s-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top:2040px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}


.text04s-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 2650px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}


.text01m-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 1300px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.text02m-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 1900px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.text03m-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top:2450px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}


.text04m-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 3050px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.text01c-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 1400px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}


.text02c-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 1900px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.text01n-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 1970px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.text02n-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 2450px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.text03n-div {
  float: left;
  position: absolute;
  width: 300px;
  height: 600px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top:3000px;
  border-bottom-color: #333;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}